/* changing the default margin and padding of the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
bod {
  font-family: sans-serif;
}

/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #669bbc;
  color: #780000;
  padding: 25px 60px;
  margin-bottom: 30px;
}
.navbar #Logo {
  font-size: larger;
  text-decoration: none;
  color:rgb(242, 234, 234) ;
  /* border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(242, 234, 234);
  padding: 2px 5px; */
}
.cart {
  background-color: rgb(242, 234, 234);
  color: #780000;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
/* Styling and aligning the cart count with cart */
.cartCount {
  font-size: 16px;
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 2px;
  position: absolute;
  top: -15px;
  right: -10px;
}
/* Shop Items Styling */
.shop {
  display: grid;
  /* creting 4 columns in grid */
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

/* adjusting the number of columns according to the width of the screen */
@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 223px);
  }
}
@media (max-width: 500px) {
  .shop {
    grid-template-columns: repeat(1, 223px);
  }
}

.item {
  border: 2px solid goldenrod;
  border-radius: 4px;
}
.item img{
  width: 100%;
  border-radius: 2px 2px 0 0;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 8px;
}
.bi-dash-lg {
  color: red;
  cursor: pointer;
}
.bi-plus-lg {
  color: green;
  cursor: pointer;
}


.text-center{
  text-align: center;
  margin-top: 20px;
}
/* styling for button (back to home) in cart */
.HomeBtn, .checkout, .removeAll{
  margin-top: 5px;
  padding: 2px 4px;
  background-color: rgb(103, 103, 226);
  color: bisque;
  border-radius: 2px;
  border-color: darkblue;
  cursor: pointer;
  margin-bottom: 10px;
}
.checkout{
  background: green;
}
.removeAll{
  background: rgb(173, 7, 7);
}

.bi-x-lg{
  color: red;
  font-weight: bold;
  cursor: pointer;
}

/* Styling the shopping cart */
.shopping-cart{
  display: grid;
  grid-template-columns: repeat(1,320px);
  justify-content: center;
  gap: 15px;
}
/* Styling the cart items */

.cart-item{
  border: 2px solid goldenrod; 
  border-radius: 5px;
  display: flex;
}
.title-price-x{
  width: 193px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-price{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-price{
  /* width: 40px; */
  background-color: black;
  color: white;
  padding:3px 4px;
  border-radius: 3px;
}